@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  --gradient-color-1: #f23044;
  --gradient-color-2: #f2f230;
  --gradient-color-3: #22d10f;
  --gradient-color-4: #9d0fd1;
}
