@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  --gradient-color-1: #FFD700; /* Warm yellow */
  --gradient-color-2: #D3D3D3; /*Light gray */
  --gradient-color-3: #FFB6C1; /*Soft pink */
  --gradient-color-4: #87CEEB; /*Sky blue */ 
  background-image: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3));
}
